# Scratch Pad 
2021-08-07

In [1]:
import pandas as pd
rel_df = pd.read_csv('https://raw.githubusercontent.com/viveknest/ML-Examples/main/Titanic_Cleaned.csv')

In [2]:
rel_df

,Survived,Age,SibSp,Parch,Fare,male,Emb_Q,Emb_S,PClass_2,PClass_3
0,0,22.0,1,0,7.2500,1,0,1,0,1
1,1,38.0,1,0,71.2833,0,0,0,0,0
2,1,26.0,0,0,7.9250,0,0,1,0,1
3,1,35.0,1,0,53.1000,0,0,1,0,0
4,0,35.0,0,0,8.0500,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,27.0,0,0,13.0000,1,0,1,1,0
887,1,19.0,0,0,30.0000,0,0,1,0,0
888,0,28.0,1,2,23.4500,0,0,1,0,1
889,1,26.0,0,0,30.0000,1,0,0,0,0
890,0,32.0,0,0,7.7500,1,1,0,0,1

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(rel_df, labels, test_size=0.3, random_state=42)

NameError: name 'labels' is not defined